{##
    @param {String} [text] - The headline text
    @param {String} [classes] - Any additional classes that will be added to the root element
#}
{% macro a_text(text, classes='') %}

    {# Prepare #}
    {% set moduleClass = 'a-text' %}

    {# Render #}
    <p class="{{ moduleClass }} {{ classes }}">
        {{ text }}
    </p>

{% endmacro %}