.book > .book-summary > .book-logo {
    text-align: left;
    padding-bottom: 10px;
}

.book > .book-summary > .book-logo > img {
    width: 30%;
}

.book > .book-summary > nav {
    padding-bottom: 40px;
}

.book > .book-summary > nav > ul > li:last-child {
    display: none;
}

.book > .book-summary > nav > ul > li.divider {
    display: none;
}

.book > .book-body > .body-inner {
    padding-bottom: 40px;
}

.book > .book-body .alert .hints-container p {
    padding-bottom: 0;
    margin-bottom: 0;
}

.book > .book-body a.glossary-term {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px dashed #BBB;
}